.mainlogo {
    width: 133px;
    height: 31px;
    margin-block: 25px;
    margin-left: 95px;
}
.nav-item {
    font-size: 16px;
    font-weight:600;
    font-family: 'Raleway', sans-serif;
    color: #303134;
    margin-right: 52px;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:fixed;
    z-index: 22;
}
.navigation {
    display: flex;
    margin-left: 535px;
}
.landing {
    padding-top: 81px;
    width: 1360px;
}
.sea-photo {
    width: 1360px;
    height: 569px;
}
.service-box1 {
    width: 242px;
    height: 243px;
    margin-right: 60px;
    display: flex;
    flex-direction: column;
}
.service-box {
    margin-left: 95px;
    display: flex;
}
h3 {
    margin-bottom: 40px;
}
.service-card {
    width: 270px;
    height: 328px;
}
.service-box2 {
    display: flex;
    flex-wrap: wrap;
    width: 887px;
}
.service-card:nth-child(2), .service-card:nth-child(5) {
    margin-inline: 31px;
}

.insidephoto{
    position: relative;
    top: -170px;
    left: 20px;
}
h4 {
    font-size: 16px;
    font-weight:600px;
    font-family: 'Raleway', sans-serif;
    color: #8D8D8D;
}
h3 {
    font-size: 26px;
    font-weight:600px;
    font-family: 'Raleway', sans-serif;
    color: #1A1A1B;
    line-height: 37px;
}
p {
    font-size: 16px;
    font-weight:500px;
    font-family: 'Raleway', sans-serif;
    color: #8D8D8D;  
}
h5 {
    font-size: 18px;
    font-weight:600px;
    font-family: 'Raleway', sans-serif;
}
.servicebox-text2 {
    margin-top: 30px;
}
.outsidephoto {
    margin-top: 21px;
    margin-bottom: 8px;
}
h1 {
    position: relative;
    top: -410px;
    left: 93px;
    font-size: 79px;
    font-weight:500px;
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    width: 800px;
}
h6 {
    position: relative;
    top: -350px;
    left: 180px;
    font-size: 18px;
    font-weight:600px;
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    width: 800px;
}